/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

h1 {
    text-align: center;
}


p {
    text-align: center;
}


table {
    border-collapse: collapse;
    width: 50%;
    margin: 20px auto;
}

td, th {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

form {
    width: 50%;
    margin: 20px auto;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.center-container {
    text-align: center;
}
